.styled-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

.styled-table img {
    max-width: 100px;
    height: auto;
}
.product-description {
    max-width: 250px; /* Adjust the max-width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; /* Add cursor pointer to indicate the content is clickable */
}
