

.crud_link
{
    display:flex;
    align-items: center;
    gap: 0.3rem;
}
.border_btn{
    border: 1px solid rgb(54, 54, 54);
}

.logout-btn{
    border: 1px solid rgb(65, 65, 65);
}
.logout-btn:hover{
    background-color: #191f29;
}

/* CSS for active button */
.active-button {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    color: #ffffff;
  }
  .active-button:hover{
    background-color: #1d8aff;
  }

  /* CSS for disabled button */
  .disabled-button {
    background-color: #ccc; /* Grey color */
    color: #666; /* Dark grey text */
    cursor: not-allowed;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
  }
  .disabled-button:hover{
    background-color: rgb(223, 223, 223);
  }

.wrappe_container_pop{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0000007d;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.delete-confirmation{
  -webkit-box-sizing: border-box;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  border: 1px solid rgb(113, 113, 113);
}