

.crud_link
{
    display:flex;
    align-items: center;
    gap: 0.3rem;
}
.border_btn{
    border: 1px solid rgb(54, 54, 54);
}

.logout-btn{
    border: 1px solid rgb(65, 65, 65);
}
.logout-btn:hover{
    background-color: #191f29;
}
