

.rating-bar {
    width: 100px; /* Adjust width as needed */
    height: 10px; /* Adjust height as needed */
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
  }

  .rating-fill {
    height: 100%;
    background-color: rgb(51, 51, 51); /* Color for the filled portion */
  }
